.starwars-db-app {
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 600px) {
    .starwars-db-app {
        max-width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .starwars-db-app {
        max-width: 600px;
    }
}

div.jumbotron {
    padding: 0.5rem;
}